h1 {
    text-align: center;    
}

/* this is overwritten by my media query */

@media screen and (min-width: 300px ) {
    body {   
        background-image: url('../img/tomagotchiplayer.jpg');
        background-size: 100%;
        background-repeat: repeat-x;
        background-position-x: 50px;
        background-position-y: 40px;
    }
}

@media screen and (min-width: 600px ) {
    body {   
        background-image: url('../img/tomagotchiplayer.jpg');
        background-size: 120%;
        background-repeat: repeat-x;
        background-position-x: -110px;
        background-position-y: -100px;
    }
}

@media screen and (min-width: 1000px) {
    body { 
        background-image: url('../img/tomagotchiplayer.jpg');
        background-size: 170%;
        background-repeat: repeat-x;
        background-position-x: -600px;
        background-position-y: -500px;
    }
}

#img-container {
   align-self: center;
   position: absolute;
   left: 270px;
   bottom: 120px;
   height: 30px;
   animation: MoveUpDown 1s linear infinite;
}

#stats-container {
    position: absolute;
    width: 115px;
}

@keyframes MoveUpDown {
  50% {bottom: 10px}
}

.jumbotron {
    position: relative;
    top: 275px;
}